h1{ 
    color: rgb(134, 134, 240);
font-family: "Arial", sans-serif;
}
body{
    background-color: blanchedalmond;

}
p{
    color: rgb(68, 51, 219);
    font-family: Helvetica, sans-serif;
}

#why{
    background-color: rgb(211, 231, 215);
}
.nursery{
    color: rgb(22, 52, 221);
    font-style: italic;
}
#nurseryhead{
    color: blueviolet;
    background-color: rgb(22, 123, 218);
}
.pure-table{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(41, 134, 221)
}
#about-link{
    color: rgb(32, 32, 224)
}
th{ 
    color: rgb(128, 0, 32);
}